@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background: url(background.png) no-repeat;
    background-position: center;
}
nav{
    position: relative;
    z-index: 3;
}
header nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /* background-color: red; */
}
nav .navbar{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto 20px auto;
}
.navbar .logo{
    height: 80px;
    width: 150px;
}
.navbar .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.navbar .menu{
    display: flex;
}
.navbar .menu li{
    list-style: none;
    margin: 0 10px;
}
.menu li a{
     font-size: 17px;
     color: #2c3e50;
     text-decoration: none;
     font-weight: 500;
}
.menu li a:hover{
    color: #000;
}
.navbar .search-box{
    position: relative;
    height: 50px;
    width: 150px;
}
.search-box input[type="text"]{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    outline: none;
    border: 2px solid #2c3d50;
    border-radius: 8px;
    padding: 0 10px 0 40px;
    font-size: 18px ;
}
.search-box a{
    position: absolute;
    left: 10px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
    border-right: 2px solid #2c3e50;
    padding: 0 5px 0 0;
    color:  #2c3e50;
}


.text-content{
    position: absolute;
    top: 33%;
    left: 7%; 
    z-index: 10;
}
.content .text {
    font-size: 27px;
    color: #2c3e50;
}
.content .name{
    font-size: 75px;
    color: #2c3e50;
    margin: -20px 0 0 -3px;
}
.content .job{
    font-size: 40px;
    color: #2c3e50;
    display: flex;
}
.content .job .typing-text{
    color: #1de2d1;
    margin-left: 10px;
    white-space:nowrap;
    overflow: hidden;
    border-right:4px solid #1de2d1;
    animation: typing 5s steps(15) infinite;
}
@keyframes typing {
    0%{
        width: 0ch;
    }
    50%{
        width: 15ch;
    }
    100%{
        width: 0ch;
    }
}
.content .buttons{
    margin: 20px 0 0 50px;
}
.content .buttons button{
    color: #fff;
    margin: 0 10px;
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    outline: none;
    border: none;
    background: linear-gradient(135deg, #2afadf 10%, #c346c2 100%);
    transition: all 0.3s ease;
}
.content .buttons button:hover{
    transform: scale(0.98);
}
header .girl img{
    position: absolute;
    right: 80px;
    bottom: 0;
    height: 95%;
    z-index: 1;
}
header .media-icons{
    display: flex;
    position: absolute;
    right: 40px;
    bottom: 40px;
    flex-direction: column;
}
.media-icons a{
    margin-left: 8px 0;
    font-size: 20px;
    color: #2c3e50;
    font-weight: 500; 
    opacity: 0.7;
    transition: all 0.3s ease;
}
.media-icons a:hover{
    opacity: 1; 
}




